@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-en: "Gabarito", sans-serif;
  --font-th: "IBM Plex Sans Thai", "Sarabun", sans-serif;
  --font-mono: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-th); /* Default Thai font */
}
